    @media (max-width: 375px) {
        #agro {
            margin-left: 20px;
            margin-top: 20px;
        }
    }
    
    @media (max-width: 4255px) {
        #agro {
            margin-left: 20px;
            margin-top: 20px;
        }
    }